<div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr >
        <th></th>
        <th scope="col">Slag</th>
        <th scope="col">Symbol</th>
        <th></th>
        <th scope="col" style="align-content: right">Market Price</th>
        <th style="align-content: left;">
          <div class="d-flex flex-row" [formGroup]="myGroup">
              <input
                type="number"
                min="1"
                onkeypress="(event.which == $(this).val().trim() == '')"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                class="form-control"
                matInput
                name="value"
                placeholder="Select coins number, then press arrow"
                (ngModelChange)="modelChanged($event)"
                formControlName="value">

            <button type="button" class="btn btn-light ml-2 mr-2"
                (click)="showCoins(this.quantity, true)">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                </svg>
              </button>
              <button type="button" class="btn btn-light"
                (click)="showCoins(this.quantity, false) ">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
                </svg>
              </button>
          </div>
        </th>

      </tr>
    </thead>
    <tbody *ngIf="this.quantity > 0">
      <tr *ngFor="let coin of coins; let i = index" [attr.data-index]="i">
        <th style="text-align:center">{{i+1}}.</th>
        <td>{{coin.slug}}</td>
        <td>{{coin.symbol}}</td>
        <td></td>
        <td >{{coin.metrics.market_data.price_usd}}</td>
        <td></td>
      </tr>
    </tbody>
    <tbody *ngIf="this.quantity == 0" >
       <tr>
        <th class="no">Select number more then 0, please !!!</th>
      </tr>
    </tbody>
  </table>


</div>

